
/* ------------------- PROFILE INFO ------------------- */

.profile-info {
    display: flex;
    padding: 12px 8px;
    align-items: center;
    align-self: stretch;
    gap: 12px;
    border-radius: 8px;
    background: var(--Lunar-Dust-950);
    transition: all 0.2s ease;
    overflow: hidden;
}

.profile-info:hover {
    background: var(--Comet-Cloud-950);
}


.profile-info__container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-info__container__image {
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-info__container__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

.profile-info__container__text__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--Comet-Cloud-300);
}

.profile-info__container__text__nickname {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--Lunar-Dust-500);
}

.profile-info:hover .profile-info__container__text__name {
    color: var(--Comet-Cloud-200);
}

.profile-info:hover .profile-info__container__text__nickname {
    color: var(--Lunar-Dust-400);
}

