<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="../../../css/colors.css">
    <link rel="stylesheet" href="../../../css/typography.css">
    <link rel="stylesheet" href="../../playground.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>menu-item</title>
</head>
<body>
    <div class="playground-container playground-container--menu-item">

        <li class="menu-item">
            <a href="#">
                <span class="material-icons-round menu-item__icon icon--regular">sports_esports</span>
                <span class="menu-item__text font-body-regular-bold">Label</span>
                <div class="notification-badge">
                    <div class="notification-badge__dot"></div>
                    <div class="notification-badge__count">4</div>
                </div>
            </a>
        </li>

        <li class="menu-item menu-item--active">
            <a href="#">
                <span class="material-icons-round menu-item__icon icon--regular">sports_esports</span>
                <span class="menu-item__text font-body-regular-bold">Label</span>
            </a>
        </li>


    </div>
</body>
</html>