
/* ------------------- MENU ITEM ------------------- */

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    justify-content: flex-start;
    transition: all 0.2s ease;
    cursor: pointer;
    box-sizing: border-box;

    user-select: none; /* standard property for modern browsers */
    -webkit-user-select: none; /* for Safari 3+, Safari on iOS 3+ */
    -moz-user-select: none; /* for older versions of Firefox */
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 100%;
    text-decoration: none;
    color: var(--Lunar-Dust-600);
    border-radius: inherit;
    box-sizing: border-box;
}

.menu-item__icon {
    color: inherit;
}

.menu-item__text {
    flex: 1;
    color: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item:hover{
    background: var(--Comet-Cloud-950);
}

.menu-item:hover .menu-item__icon,
.menu-item:hover .menu-item__text {
    color: var(--Comet-Cloud-500);
}

.menu-item--active {
    background: var(--gradient-menu-item-blue);
}

.menu-item--active .menu-item__icon, .menu-item--active:hover .menu-item__icon {
    color: var(--Neptune-Blue-200);
}

.menu-item--active .menu-item__text, .menu-item--active:hover .menu-item__text {
    color: var(--Comet-Cloud-50);
}

.menu-item--active:hover {
    background: var(--gradient-blue-menu-item-hover);
}



/* ------------------- NOTIFICATION BADGE ------------------- */

.notification-badge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-badge__dot {
    position: relative;
    border-radius: 50%;
}

.notification-badge__count {
    position: relative;
    width: 20px;
    height: 20px;
    line-height: 100%;
    text-align: center;
    font-family: Play;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Red-Dwarf-600);
    border-radius: 100%;
    color: var(--Lunar-Dust-0);
}