
/* ------------------- METRIC CARD ------------------- */

.metric-card {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;

    border-radius: 8px;
    background: var(--Comet-Cloud-1000);
}

.metric-card__icon {
    color: var(--Comet-Cloud-300);
}

.metric-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.metric-card__info__label {
    color: var(--Comet-Cloud-600);
}

.metric-card__info__data {
    color: var(--Comet-Cloud-300);
}
