<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../../css/components.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <link rel="stylesheet" href="../../css/typography.css">
    <link rel="stylesheet" href="../playground.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>metric-card</title>
</head>
<body>
    <div class="playground-container playground-container--metric-card">

        <div class="container-example__metric-card">
            
            <div class="metric-card">
                <span class="material-icons-round metric-card__icon icon--extra-large">sports_esports</span>
                <div class="metric-card__info">
                    <span class="metric-card__info__label font-body-medium">Played Games</span>
                    <span class="metric-card__info__data font-body-extra-large">48</span>
                </div>
            </div>

            <div class="metric-card">
                <span class="material-icons-round metric-card__icon icon--extra-large">emoji_events</span>
                <div class="metric-card__info">
                    <span class="metric-card__info__label font-body-medium">Total Victories</span>
                    <span class="metric-card__info__data font-body-extra-large">28</span>
                </div>
            </div>

            <div class="metric-card">
                <span class="material-icons-round metric-card__icon icon--extra-large">show_chart</span>
                <div class="metric-card__info">
                    <span class="metric-card__info__label font-body-medium">Max. Consecutive Wins</span>
                    <span class="metric-card__info__data font-body-extra-large">5</span>
                </div>
            </div>

            <div class="metric-card">
                <span class="material-icons-round metric-card__icon icon--extra-large">flare</span>
                <div class="metric-card__info">
                    <span class="metric-card__info__label font-body-medium">Total Points</span>
                    <span class="metric-card__info__data font-body-extra-large">240</span>
                </div>
            </div>

        </div>

    </div>
</body>
</html>