<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Button Component</title>
    <script src="./template.js"></script>
</head>
<body>

    <template id="custom-button-template">
        <link rel="stylesheet" href="template.css">
        <button class="button">
            <span class="material-icons-round button__icon-left"></span>
            <span class="button__text"></span>
            <span class="material-icons-round button__icon-right"></span>
        </button>
    </template>

    <custom-button
        icon-left="sports_esports"
        button-text="Botão do Emmanuel!"
        icon-right="sports_esports"
        color="#6200ea"
    ></custom-button>

    <custom-button
        icon-left="sports_esports"
        button-text="Botão do Lucas!"
        icon-right="sports_esports"
        color="#6200ea"
    ></custom-button>

    <custom-button
    icon-left="sports_esports"
    button-text="Erick rei delas!"
    icon-right="sports_esports"
    color="#6200ea"
></custom-button>
</body>
</html>
