.adicionar-amigo {
    display: flex;
    flex-direction: column;
    width: 948px;
    height: 660px;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    position: relative;
    background-color: var(--lunar-dust950-base);
    border-radius: 32px;
    border: 1px solid;
    border-color: var(--lunar-dust900);
  }
  
  .adicionar-amigo .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-h4-font-family);
    font-weight: var(--heading-h4-font-weight);
    color: var(--lunar-dust50);
    font-size: var(--heading-h4-font-size);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    white-space: nowrap;
    font-style: var(--heading-h4-font-style);
  }
  
  .adicionar-amigo .icon-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .adicionar-amigo .search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--lunar-dust1000);
    border-radius: 4px;
  }
  
  .adicionar-amigo .img {
    position: relative;
    width: 18px;
    height: 18px;
  }
  
  .adicionar-amigo .search-bar-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-regular-font-family);
    font-weight: var(--body-regular-font-weight);
    color: var(--lunar-dust600);
    font-size: var(--body-regular-font-size);
    letter-spacing: var(--body-regular-letter-spacing);
    line-height: var(--body-regular-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-font-style);
  }
  
  .adicionar-amigo .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .frame-3 {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    align-self: stretch;
    width: 100%;
    background-color: var(--comet-cloud1000);
    border-radius: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .adicionar-amigo .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--body-caption-regular-font-family);
    font-weight: var(--body-caption-regular-font-weight);
    color: var(--lunar-dust500);
    font-size: var(--body-caption-regular-font-size);
    letter-spacing: var(--body-caption-regular-letter-spacing);
    line-height: var(--body-caption-regular-line-height);
    font-style: var(--body-caption-regular-font-style);
  }
  
  .adicionar-amigo .text-wrapper-3 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--body-caption-regular-font-family);
    font-weight: var(--body-caption-regular-font-weight);
    color: var(--lunar-dust500);
    font-size: var(--body-caption-regular-font-size);
    text-align: right;
    letter-spacing: var(--body-caption-regular-letter-spacing);
    line-height: var(--body-caption-regular-line-height);
    font-style: var(--body-caption-regular-font-style);
  }
  
  .adicionar-amigo .div-2 {
    display: flex;
    height: 76px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--lunar-dust950-base);
    border-radius: 8px;
  }
  
  .adicionar-amigo .table-row-player {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .adicionar-amigo .table-row-player-2 {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .adicionar-amigo .table-row-player-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .adicionar-amigo .table-row-player-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--body-medium-bold-font-family);
    font-weight: var(--body-medium-bold-font-weight);
    color: var(--comet-cloud300);
    font-size: var(--body-medium-bold-font-size);
    letter-spacing: var(--body-medium-bold-letter-spacing);
    line-height: var(--body-medium-bold-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--body-medium-bold-font-style);
  }
  
  .adicionar-amigo .table-row-player-5 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-regular-font-family);
    font-weight: var(--body-regular-font-weight);
    color: var(--lunar-dust500);
    font-size: var(--body-regular-font-size);
    letter-spacing: var(--body-regular-letter-spacing);
    line-height: var(--body-regular-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--body-regular-font-style);
  }
  
  .adicionar-amigo .table-row-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .adicionar-amigo .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-medium-bold-font-family);
    font-weight: var(--body-medium-bold-font-weight);
    color: var(--lunar-dust500);
    font-size: var(--body-medium-bold-font-size);
    letter-spacing: var(--body-medium-bold-letter-spacing);
    line-height: var(--body-medium-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-medium-bold-font-style);
  }
  
  .adicionar-amigo .table-row-actions {
    display: flex;
    flex-direction: column;
    height: 36px;
    align-items: flex-end;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .adicionar-amigo .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -4px;
  }
  
  .adicionar-amigo .button-types {
    display: flex;
    width: 108px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 12px;
    position: relative;
    background-color: var(--cosmic-forest600);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .adicionar-amigo .button-text {
    position: relative;
    width: fit-content;
    font-family: var(--body-regular-bold-font-family);
    font-weight: var(--body-regular-bold-font-weight);
    color: var(--cosmic-forest50);
    font-size: var(--body-regular-bold-font-size);
    letter-spacing: var(--body-regular-bold-letter-spacing);
    line-height: var(--body-regular-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-bold-font-style);
  }
  
  .adicionar-amigo .table-row-player-6 {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-image: url(./img/table-row-player-image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .adicionar-amigo .table-row-player-7 {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-image: url(./img/table-row-player-image-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .adicionar-amigo .table-row-player-8 {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-image: url(./img/table-row-player-image-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  