.page-content__container__header{
  display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.page-content__container__header__search-bar{
  display: flex;
padding: 12px 16px;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 4px;
background: var(--Lunar-Dust-1000);
}

.page-content__container__content{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}