
.page-content__container__header__search-bar{
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
background: var(--Lunar-Dust-1000);
}

 

 