.Game-result-body{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px;
    align-items: flex-start;
    gap: 24px;
    background: linear-gradient(64deg, #000 0%, #000 38.5%, #E68B02 100%);
}

.tournament-result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.tournament-result__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
    align-self: stretch;
}

.tournament-result__info__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.tournament-result__info__text__display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.tournament-result__info__text__player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.tournament-result__info__text__title{
    align-self: stretch;
    background: linear-gradient(90deg, #E2A60C 0%, #D4470B 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tournament-result__info__text__description{
    align-self: stretch;
    color: #737993;
 
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
}


.tournament-result__image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.tournament-result__info__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.imageplayer-tournament{
    display: flex;
    width: 48px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.name_player_tournament{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: #D3D9F4;
    text-overflow: ellipsis;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
}

.nick_player_tournament{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: #737993;
    text-overflow: ellipsis;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}


.trophyImage{
    width: 32rem;
    height: 32rem;
    z-index: 100;

 }

.Game-result-body-secound{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #2C2F3E;
    background: linear-gradient(64deg, #000 0%, #000 38.5%, rgba(73, 73, 85, 0.65) 100%);
}

.tournament-result__info__text__title-secound{
    align-self: stretch;
       /* Heading/H1 */
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    background: linear-gradient(90deg, #9A9AAF 0%, #565665 85%, #151515 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Game Result  */

.Game-result-defeat{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(156deg, #B91313 -22.74%, #0B0501 37.71%, #000 98.16%);
}

.game-result__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
}

.game-result__content__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.game-result__content__info__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.game-result__content__info__brackets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.game-result__footer{
    display: flex;
    padding-bottom: 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

}

.game-result__content__info__redirect{
    color: var(--Lunar-Dust-500, #737584);

    /* Heading/H6 */
    font-family: "Red Hat Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
}

.game-result__content__info__text__result{

    /* Heading/H1 */
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */

    background: linear-gradient(90deg, #CD2420 0%, #FF3A36 49.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.game-result__content__info__text__status{

    /* Heading/H5 */
    font-family: "Red Hat Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */

    background: linear-gradient(90deg, #CD2420 0%, #FF3A36 49.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-result__content__info__brackets__score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.game-result__content__info__brackets__score__data{
    color: var(--Lunar-Dust-0, #FFF);

    /* Heading/H1 */
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}

.logo_result{
    display: flex;
    align-items: center;
    gap: 10.5px;
}
 

.Game-result-semifinal{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(156deg, #1369B9 -22.74%, #0B0501 37.71%, #000 98.16%);
}

.game-result__content__info__text__result-semifinal{

    /* Heading/H1 */
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */

    background: linear-gradient(90deg, #1369B9 0%, #60B2FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.game-result__content__info__text__status-semifinal{

/* Heading/H5 */
font-family: "Red Hat Display";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 38.4px */

background: linear-gradient(90deg, #1369B9 0%, #60B2FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.stars1, .stars2{
	z-index: 10;
}