html, body, .page-game__container
{
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
}

body, .page-game__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: black;
}

.logo_match
{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.10;
    width: 20%;
    max-width: 220px;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 3;
    -webkit-user-select: none; /* for Safari 3+, Safari on iOS 3+ */
    -moz-user-select: none; /* for older versions of Firefox */
    user-select: none; /* standard property for modern browsers */
    pointer-events: none;
}

#score_left, #score_right {
    color: white;
    position: absolute;
    top: 10%;
    font-size: 2.8vw;
    -webkit-user-select: none; /* for Safari 3+, Safari on iOS 3+ */
    -moz-user-select: none; /* for older versions of Firefox */
    user-select: none; /* standard property for modern browsers */
    pointer-events: none;
}

#score_left {
    left: 25%;
}

#score_right {
    right: 25%;
}

#table
{
    position: relative;
    background: none;
    border: 1px solid var(--Lunar-Dust-900);
    margin: 15%;
    flex-grow: 1;
    aspect-ratio: 16 / 9;
    background: linear-gradient(156deg, #494955 -22.74%, #0B0B0E 37.71%, #000 98.16%);
    z-index: 2;
    max-width: 1280px;
    max-height: 720px;
    box-sizing: border-box;
}

#ball
{
    border-radius: 100%;
    background-color: #FFFFFF;
    height: 2.778%;
    aspect-ratio: 1 / 1;
    position: absolute;
    z-index: 1;
    top: calc(50% - 10px); /* Adjust positioning */
    left: calc(50% - 10px); /* Adjust positioning */
}

.middle_line 
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0.4vw;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 3vh,
        rgba(255, 255, 255, 0) 3vh,
        rgba(255, 255, 255, 0) 6vh
    );
    box-sizing: border-box;
}

.player
{
    background-color: #FFFFFF;
    position: absolute;
    top: 41.667%;
    width: 0.781%;
    height: 13.889%;
}

#player_left
{
    left: 2.344%;
}

#player_right
{
    right: 2.344%;
}

@keyframes shift2 {
    0% {
        opacity: 0.75;
    }

    25% {
        opacity: 0.10;
    }

    50% {
        opacity: 0.25;
    }

	75% {
        opacity: 0.50;
    }

	100% {
        opacity: 0.75;
    }
}

