@import '../../playground/components/button/styles.css';
@import '../../playground/components/game-mode-banner/styles.css';
@import '../../playground/components/game-row-option/styles.css';
@import '../../playground/components/input/styles.css';
@import '../../playground/components/menu-control/styles.css';
@import '../../playground/components/menu-item/styles.css';
@import '../../playground/components/metric-card/styles.css';
@import '../../playground/components/metric-line/styles.css';
@import '../../playground/components/pagination/styles.css';
@import '../../playground/components/player-bracket/styles.css';
@import '../../playground/components/profile-info/styles.css';
@import '../../playground/components/search-bar/styles.css';
@import '../../playground/components/sidebar/styles.css';
@import '../../playground/components/table-header/styles.css';
@import '../../playground/components/table-row/styles.css';
@import '../../playground/components/tag/styles.css';
@import '../../playground/components/toggle/styles.css';

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.simula_body
{
	width: 100%;
	height: 100%;
	background: var(--gradient-blue-background);
	overflow: hidden;
	justify-content: flex-start;
	align-items: center;
	display: inline-flex;
}

iframe {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: none;
}


.stars_game1, .stars_game2 {
    position: absolute;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
	z-index: -1;
	object-fit: cover;
}

.star-login {
	cursor: none;
	pointer-events: none;
	user-select: none; /* standard property for modern browsers */
    -webkit-user-select: none; /* for Safari 3+, Safari on iOS 3+ */
    -moz-user-select: none; /* for older versions of Firefox */
	z-index: 0;
}

.star-match {
	z-index: 0;
}

.stars_game1 {
  animation: shift1 12s ease-in-out infinite alternate;
}

.stars_game2 {
    transform: scaleX(-1) scaleY(-1);
    animation: shift1 8s ease-in-out infinite alternate;
}

.stars2 {
  transform: scaleY(-1);
  animation: shift1 3s ease-in-out infinite alternate;
}

.stars1 {
  animation: shift1 5s ease-in-out infinite alternate-reverse;
}

.stars1, .stars2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../../assets/background-stars.svg");
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
}

@keyframes shift1 {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0.25;
	}

	50% {
		opacity: 0.5;
	}

	75% {
		opacity: 0.75;
	}

	100% {
		opacity: 1;
	}
}


/* ----------------------------------------- */

.page-content {
	display: flex;
	padding: 24px 0px;
	align-items: flex-start;
	gap: 8px;
	flex: 1 0 0;
	align-self: stretch;
	width: 100%;
}

.page-content__container {
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 16px 0px 0px 16px;
	border-top: 1px solid var(--Lunar-Dust-900);
	border-bottom: 1px solid var(--Lunar-Dust-900);
	border-left: 1px solid var(--Lunar-Dust-900);
	background: var(--Lunar-Dust-950);
}


.page-content__container__header__search-bar {
	align-self: stretch;
}

.page-content__container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	width: 100%;
}

.page-content__container__header__info {
	display: flex;
	align-items: center;
	gap: 12px;
	flex: 1 0 0;
}

.page-content__container__header__info__title {
	color: var(--Lunar-Dust-50);
}

.page-content__container__content__card-metrics {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.page-content__container__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1 0 0;
	align-self: stretch;
}

.page-content__container__content__line-metrics {
	display: flex;
	padding: 16px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	border-radius: 8px;
	background: var(--Comet-Cloud-1000);
}


.table-actions-align-right {
	text-align: right;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
	transform: rotate(360deg);
  }
}

