.login {
  display: flex;
  width: var(--Desktop-width, 1366px);
  height: var(--Desktop-height, 768px);
  align-items: center;
  gap: 8px;
}

.login-container {
  display: flex;
padding: 40px 32px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
align-self: stretch;
}

.login__hero-image {
  display: flex;
width: 800px;
padding: 24px;
align-items: center;
gap: 8px;
flex-shrink: 0;
align-self: stretch;
}

.login__hero-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.login__hero-image__carousel {
  display: flex; /* Para alinhar os itens lado a lado */
  transition: transform 0.5s ease; /* Efeito de transição suave */
}

.login__hero-image__carousel__item {
  flex: 0 0 100%; /* Cada item ocupa toda a largura */
  max-width: 100%;
}

/* Opcional: Estilize as imagens dentro de cada slide */
.login__hero-image__carousel__item img {
  width: 100%;
  height: auto;
  display: block;
}
