.page-content__container__content--matches table {
  width: 100%;
}

.page-content__container__content--matches .table-row {
  width: 100%;
}

.page-content__container__content--matches .pagination {
  justify-content: center;
  align-items: center;
  align-self: stretch;
}