.page-content__container__content--ranking table {
  width: 100%;
}

.page-content__container__content--ranking .table-row {
  width: 100%;
}

.page-content__container__content--ranking .pagination {
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.page-content__container__content--ranking .tableRankingPosition {
  flex: none;
  width: 48px;
}