.remove-friend {
    display: flex;
    flex-direction: column;
    width: 626px;
    height: 292px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
    position: relative;
    background-color: var(--lunar-dust950-base);
    border-radius: 32px;
    border: 1px solid;
    border-color: var(--lunar-dust900);
  }
  
  .remove-friend .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .remove-friend .div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .remove-friend .div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .remove-friend .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-h4-font-family);
    font-weight: var(--heading-h4-font-weight);
    color: var(--lunar-dust50);
    font-size: var(--heading-h4-font-size);
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    white-space: nowrap;
    font-style: var(--heading-h4-font-style);
  }
  
  .remove-friend .icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .remove-friend .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .remove-friend .p {
    position: relative;
    align-self: stretch;
    font-family: var(--body-medium-font-family);
    font-weight: var(--body-medium-font-weight);
    color: var(--lunar-dust500);
    font-size: var(--body-medium-font-size);
    letter-spacing: var(--body-medium-letter-spacing);
    line-height: var(--body-medium-line-height);
    font-style: var(--body-medium-font-style);
  }
  
  .remove-friend .frame-2 {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .remove-friend .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 10px 16px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .remove-friend .button-text {
    position: relative;
    width: fit-content;
    font-family: var(--body-regular-bold-font-family);
    font-weight: var(--body-regular-bold-font-weight);
    color: var(--comet-cloud400-base);
    font-size: var(--body-regular-bold-font-size);
    letter-spacing: var(--body-regular-bold-letter-spacing);
    line-height: var(--body-regular-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-bold-font-style);
  }
  
  .remove-friend .button-2 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 10px 16px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: var(--red-dwarf600);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .remove-friend .button-text-2 {
    position: relative;
    width: fit-content;
    font-family: var(--body-regular-bold-font-family);
    font-weight: var(--body-regular-bold-font-weight);
    color: var(--red-dwarf50);
    font-size: var(--body-regular-bold-font-size);
    letter-spacing: var(--body-regular-bold-letter-spacing);
    line-height: var(--body-regular-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-regular-bold-font-style);
  }
  