.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  position: relative;
  background-color: var(--lunar-dust700-base);
  border-radius: 16px 0px 0px 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: var(--lunar-dust900);
}

.HeaderProfile {
  align-self: stretch;
  gap: 12px;
  padding: 12px;
  background: var(--Lunar-Dust-950);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}