html, body
{
    margin: 0;
    padding: 0;
  	height: 100%;
	width: 100%;
}

body {
    overflow: hidden;
}

.page-tournament__container
{
    margin: 0;
    padding: 0;
  	height: 100%;
	width: 100%;
    overflow: hidden;
    display: none;
}

.brackets
{
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    background: linear-gradient(248deg, #B96C13 -10.67%, #0B0501 26.8%, #000 64.28%);
}

.bracket__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.bracket__content {
    display: flex;
    padding: 16px 0px 0px 0px;
    align-items: center;

    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.bracket__content__semifinal, .bracket__content__final {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
}


.bracket__content__semifinal .tournament-bracket, .bracket__content__final .tournament-bracket {
    align-self: stretch;
}

.bracket__footer {
    display: flex;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}


/* GAME RESULT */

.game-result {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    background: linear-gradient(156deg, #B96C13 -22.74%, #0B0501 37.71%, #000 98.16%);
}

.game-result__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
}

.game-result__content__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.game-result__content__info__brackets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.game-result__content__info__winner {
    background: linear-gradient(90deg, #E2A60C 0%, #D4470B 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 700;
}

.game-result__content__info__brackets__score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.game-result__content__info__brackets__score__data {
    color: var(--Lunar-Dust-0);
    font-weight: 700;
}

.game-result__footer {
    display: flex;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}