.InvitetotournamentWaiting{
    display: flex;
    width: 948px;
    height: 740px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 32px;
border: 1px solid var(--Lunar-Dust-900, #393941);
background: var(--Lunar-Dust-950-base, #18181B);
}

.Frame-10092{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.Frame-10139{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Lunar-Dust-900, #393941);
}

.Frame-10072{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}


.Frame-10134{
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.Frame-10137{
    display: flex;
align-items: flex-start;
align-content: flex-start;
gap: 16px;
align-self: stretch;
flex-wrap: wrap;
}

.tournament-bracket-Modal{
    display: flex;
height: 60px;
padding: 12px;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: 8px;
border: 1px solid var(--Lunar-Dust-900, #393941);
background: var(--Lunar-Dust-950-base, #18181B);
}

.tournament-bracket__info-Modal{
    display: flex;
align-items: center;
gap: 8px;
flex: 1 0 0;
}

.Ttable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.Frame-10088{
    display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}