:root
{
    /* Lunar Dust */
    --Lunar-Dust-1000:					rgba(14, 14, 16, 1);  /* Darkest color */
    --Lunar-Dust-950:					rgba(24, 24, 27, 1);
    --Lunar-Dust-900:					rgba(57, 57, 65, 1);
    --Lunar-Dust-800:					rgba(65, 65, 75, 1);
    --Lunar-Dust-700:					rgba(76, 77, 88, 1);
    --Lunar-Dust-600:					rgba(93, 94, 108, 1);
    --Lunar-Dust-500:					rgba(115, 117, 132, 1);
    --Lunar-Dust-400:					rgba(145, 147, 159, 1);
    --Lunar-Dust-300:					rgba(184, 185, 193, 1);
    --Lunar-Dust-200:					rgba(217, 217, 222, 1);
    --Lunar-Dust-100:					rgba(238, 238, 240, 1);
    --Lunar-Dust-50:					rgba(247, 247, 248, 1);
    --Lunar-Dust-0:						rgba(255, 255, 255, 1);   /* Lightest color */

    --Lunar-Dust-Gradient-Default:		linear-gradient(94deg, #0E0E10 70.02%, #494955 104.02%);
    --Lunar-Dust-Gradient-Expanded:		linear-gradient(103deg, #000 9.14%, #000 37.74%, rgba(73, 73, 85, 0.65) 90.86%);

	/* Comet Cloud */
    --Comet-Cloud-1000:					rgba(34, 34, 43, 1); /* Darkest color */
    --Comet-Cloud-950:					rgba(41, 42, 61, 1);
    --Comet-Cloud-900:					rgba(70, 72, 105, 1);
    --Comet-Cloud-800:					rgba(81, 82, 130, 1);
    --Comet-Cloud-700:					rgba(98, 98, 160, 1);
    --Comet-Cloud-600:					rgba(116, 118, 183, 1);
    --Comet-Cloud-500:					rgba(140, 146, 200, 1);
    --Comet-Cloud-400:					rgba(161, 170, 213, 1);
    --Comet-Cloud-300:					rgba(190, 199, 227, 1);
    --Comet-Cloud-200:					rgba(215, 221, 238, 1);
    --Comet-Cloud-100:					rgba(233, 237, 246, 1);
    --Comet-Cloud-50:					rgba(243, 246, 250, 1); /* Lightest color */

	/* Cosmic Forest */
    --Cosmic-Forest-950:				rgba(2, 44, 34, 1); /* Darkest color */
    --Cosmic-Forest-900:				rgba(6, 78, 59, 1);
    --Cosmic-Forest-800:				rgba(6, 95, 54, 1);
    --Cosmic-Forest-700:				rgba(4, 120, 67, 1);
    --Cosmic-Forest-600:				rgba(5, 150, 83, 1);
    --Cosmic-Forest-500:				rgba(16, 185, 107, 1);
    --Cosmic-Forest-400:				rgba(52, 211, 138, 1);
    --Cosmic-Forest-300:				rgba(110, 231, 175, 1);
    --Cosmic-Forest-200:				rgba(167, 243, 208, 1);
    --Cosmic-Forest-100:				rgba(209, 250, 231, 1);
    --Cosmic-Forest-50:					rgba(236, 253, 245, 1); /* Lightest color */

    --Cosmic-Forest-Gradient-Default:   linear-gradient(94deg, #0E0E10 70.02%, #059653 104.02%);
    --Cosmic-Forest-Gradient-Expanded:  linear-gradient(103deg, #000 9.14%, #000 37.74%, rgba(5, 150, 83, 0.65) 90.86%);

	/* NEPTUNE BLUE */
    --Neptune-Blue-950:					rgba(26, 34, 81, 1); /* Darkest color */
    --Neptune-Blue-900:					rgba(35, 52, 133, 1);
    --Neptune-Blue-800:					rgba(36, 57, 169, 1);
    --Neptune-Blue-700:					rgba(37, 69, 208, 1);
    --Neptune-Blue-600:					rgba(49, 91, 227, 1);
    --Neptune-Blue-500:					rgba(67, 119, 238, 1);
    --Neptune-Blue-400:					rgba(103, 155, 243, 1);
    --Neptune-Blue-300:					rgba(152, 190, 248, 1);
    --Neptune-Blue-200:					rgba(194, 215, 251, 1);
    --Neptune-Blue-100:					rgba(220, 231, 253, 1);
    --Neptune-Blue-50:					rgba(240, 245, 254, 1); /* Lightest color */

    --Neptune-Blue-Gradient-Default:	linear-gradient(94deg, #0E0E10 70.02%, #23388A 104.02%);
	--Neptune-Blue-Gradient-Expanded:	linear-gradient(103deg, #000 9.14%, #000 37.74%, rgba(47, 79, 206, 0.65) 90.86%);

	/* RED DWARF */
    --Red-Dwarf-950:					rgba(72, 7, 12, 1); /* Darkest color */
    --Red-Dwarf-900:					rgba(132, 24, 32, 1);
    --Red-Dwarf-800:					rgba(160, 20, 30, 1);
    --Red-Dwarf-700:					rgba(193, 20, 32, 1);
    --Red-Dwarf-600:					rgba(229, 29, 43, 1);
    --Red-Dwarf-500:					rgba(248, 59, 72, 1);
    --Red-Dwarf-400:					rgba(255, 101, 112, 1);
    --Red-Dwarf-300:					rgba(255, 160, 167, 1);
    --Red-Dwarf-200:					rgba(255, 199, 203, 1);
    --Red-Dwarf-100:					rgba(255, 225, 227, 1);
    --Red-Dwarf-50:						rgba(255, 241, 242, 1); /* Lightest color */

	/* SOLAR FLARE */
    --Solar-Flare-950:					rgba(65, 19, 9, 1); /* Darkest color */
    --Solar-Flare-900:					rgba(120, 43, 22, 1);
    --Solar-Flare-800:					rgba(149, 49, 23, 1);
    --Solar-Flare-700:					rgba(188, 61, 18, 1);
    --Solar-Flare-600:					rgba(226, 81, 20, 1);
    --Solar-Flare-500:					rgba(241, 108, 31, 1);
    --Solar-Flare-400:					rgba(244, 139, 67, 1);
    --Solar-Flare-300:					rgba(248, 181, 121, 1);
    --Solar-Flare-200:					rgba(251, 212, 173, 1);
    --Solar-Flare-100:					rgba(254, 235, 214, 1);
    --Solar-Flare-50:					rgba(254, 246, 238, 1); /* Lightest color */

    --Solar-Flare-Gradient-Default:		linear-gradient(94deg, #0E0E10 70.02%, #984205 104.02%);
	--Solar-Flare-Gradient-Expanded:	linear-gradient(103deg, #000 9.14%, #000 37.74%, #984205 90.86%);

	/* GRADIENTS */
    --gradient-menu-item-blue:			linear-gradient(90deg, #253361 0%, #14161D 100%);
    --gradient-blue-menu-item-hover:	linear-gradient(115deg, #213370 0%, #2D438D 13.23%, #546FC9 88.17%);
    --gradient-blue-background:			linear-gradient(108deg, #293664 0%, #000 10.5%);
  }
  