.comet-cloud-theme {
  --cometcloud1000: rgba(34, 34, 43, 1); /* Cor mais escura */
  --cometcloud950:  rgba(41, 42, 61, 1);
  --cometcloud900:  rgba(70, 72, 105, 1);
  --cometcloud800:  rgba(81, 82, 130, 1);
  --cometcloud700:  rgba(98, 98, 160, 1);
  --cometcloud600:  rgba(116, 118, 183, 1);
  --cometcloud500:  rgba(140, 146, 200, 1);
  --cometcloud400:  rgba(161, 170, 213, 1);
  --cometcloud300:  rgba(190, 199, 227, 1);
  --cometcloud200:  rgba(215, 221, 238, 1);
  --cometcloud100:  rgba(233, 237, 246, 1);
  --cometcloud50:   rgba(243, 246, 250, 1); /* Cor mais clara */
}