
/* ------------------- BUTTON ------------------- */

.button
{
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.button--primary
{
    background-color: var(--Neptune-Blue-600);
    color: var(--Neptune-Blue-50);
}

.button--primary:hover
{
    color: var(--Neptune-Blue-100);
    background: var(--Neptune-Blue-500);
}

.button--secondary
{
    color: var(--Lunar-Dust-50);
    background-color: var(--Lunar-Dust-700);
}

.button--secondary:hover
{
    color: var(--Lunar-Dust-100);
    background-color: var(--Lunar-Dust-600);
}

.button--outline
{
    color: var(--Comet-Cloud-400);
    background-color: transparent;
}

.button--outline:hover
{
    color: var(--Comet-Cloud-300);
    background-color: transparent;
}

.button--tertiary
{
    color: var(--Solar-Flare-50);
    background-color: var(--Solar-Flare-600);
}

.button--tertiary:hover
{
    color: var(--Solar-Flare-100);
    background-color: var(--Solar-Flare-700);
}

.button--success
{
    color: var(--Cosmic-Forest-50);
    background-color: var(--Cosmic-Forest-600);
}

.button--success:hover
{
    color: var(--Cosmic-Forest-100);
    background-color: var(--Cosmic-Forest-700);
}

.button--danger
{
    color: var(--Red-Dwarf-50);
    background-color: var(--Red-Dwarf-600);
}

.button--danger:hover
{
    color: var(--Red-Dwarf-100);
    background-color: var(--Red-Dwarf-700);
}

.button__icon-left,
.button__icon-right
{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------------- GAME MODE BANNER ------------------- */

.game-mode-banner--tournament
{
    background: var(--Solar-Flare-Gradient-Default);
}

.game-mode-banner--tournament:hover
{
    background: var(--Solar-Flare-Gradient-Expanded);
}

.game-mode-banner--play-randomly
{
    background: var(--Lunar-Dust-Gradient-Default);
}

.game-mode-banner--play-randomly:hover
{
    background: var(--Lunar-Dust-Gradient-Expanded);
}

.game-mode-banner--friendly-match
{
    background: var(--Neptune-Blue-Gradient-Default);
}

.game-mode-banner--friendly-match:hover
{
    background: var(--Neptune-Blue-Gradient-Expanded);
}

.game-mode-banner {
    width: 100%;
    height: 160px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}


.game-mode-banner__info {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.game-mode-banner__info__title {
    color: #FEF6EE;
    font-size: 20px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.game-mode-banner__info__button {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.game-mode-banner__illustration {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    transition: width 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.game-mode-banner:hover .game-mode-banner__illustration {
    width: 264px;
}

.game-mode-banner__illustration__image {
    flex: 1;
    align-self: stretch;
    object-fit: cover;
}


/* ------------------- TAG ------------------- */

.tag
{
    display: inline-flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
}

.tag--defeat
{
    background: var(--Red-Dwarf-900);
    color: var(--Red-Dwarf-300)
}

.tag--victory
{
    background: var(--Cosmic-Forest-900);
    color: var(--Cosmic-Forest-300)
}


/* ------------------- GAME ROW OPTION ------------------- */

.game-row-option
{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    gap: 8px;
    background: var(--Comet-Cloud-950);
    color: var(--Comet-Cloud-500);
    border: none;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.2s ease;
}

.game-row-option:hover
{
    background: var(--Comet-Cloud-900);
    color: var(--Comet-Cloud-300);
}

.game-row-option__icon
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}