.cosmic-forest-theme {
  --cosmicforest900: #0b3d13; /* Cor mais escura */
  --cosmicforest800: #14521a;
  --cosmicforest700: #1d6721;
  --cosmicforest600: #267c28;
  --cosmicforest500: #30812f;
  --cosmicforest400: #469837;
  --cosmicforest300: #5bae3f;
  --cosmicforest200: #71c347;
  --cosmicforest100: #87d84f; /* Cor mais clara */
}