.gradient-theme {
  --gradient-1: linear-gradient(90deg, #253361 0%, #14161D 100%);
  --gradient-2: linear-gradient(115deg, #213370 0%, #2D438D 13.23%, #546FC9 88.17%);
  --gradient-3: linear-gradient(180deg, #577EFB 0%, #E7ECFE 100%);
  --gradient-4: linear-gradient(108deg, #293664 0%, #000 10.5%);
}

/* Classes para aplicar os gradientes */
.gradient-1 {
  background: var(--gradient-1);
}

.gradient-2 {
  background: var(--gradient-2);
}

.gradient-3 {
  background: var(--gradient-3);
}

.gradient-4 {
  background: var(--gradient-4);
}


/* .gradient-theme {
  --gradient1000: #1f1f1f; /* Cor mais escura */
  --gradient950:  #1f1f1f;
  --gradient900:  #1a1a1a;
  --gradient800:  #2e2e2e;
  --gradient700:  #424242;
  --gradient600:  #565656;
  --gradient500:  #6a6a6a;
  --gradient400:  #7e7e7e;
  --gradient300:  #929292;
  --gradient200:  #a6a6a6;
  --gradient100:  #bababa;
  --gradient50:   #e7e7e7;
  --gradient0:    #e7e7e7; /* Cor mais clara */
} */

/* background: linear-gradient(90deg, #253361 0%, #14161D 100%);

background: linear-gradient(115deg, #213370 0%, #2D438D 13.23%, #546FC9 88.17%);

background: var(--Gradient-Blue-Menu-Item-Icon, linear-gradient(180deg, #577EFB 0%, #E7ECFE 100%));

background: var(--Gradient-Blue-Background, linear-gradient(108deg, #293664 0%, #000 10.5%)); */