#modalOverlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 11, 27, 0.5); /* 50% opacity overlay */
}

.modal h4 {
    margin: 0;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 2; /* Higher z-index than overlay */
    top: 50%;
    left: 50%;
    height: 85%;
    width: 83%;
    transform: translate(-50%, -50%) scale(0.5); /* Initial state for closed modal */
    overflow: auto;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 32px;
    border: 1px solid var(--Lunar-Dust-900);
    background: var(--Lunar-Dust-950);

    animation-fill-mode: forwards; /* Ensures the modal stays in its final state after animation */
}

@keyframes modalopen {
    0% { transform: translate(-50%, -50%) scale(0.5); opacity: 0; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}

@keyframes modalclose {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(0.5); opacity: 0; }
}

.modal--open {
    display: flex;
    animation-name: modalopen;
    animation-duration: 0.2s;
}

.modal--close {
    animation-name: modalclose;
    animation-duration: 0.2s;
}

.modal__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.modal__actions {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.modal__header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.modal__header__title button {
    display: inline-flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 0px;
    flex-direction: column;
    background: none;
    width: 24px;
    height: 24px;
    flex: 0;
}

.modal__header__description {
    color: var(--Lunar-Dust-500);
}

.modal__header__title__text {
    color: var(--Lunar-Dust-50);
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

.modal__header__title__close {
    color: var(--Lunar-Dust-500);
    cursor: pointer;
}

/* ------------------- CONFIRMATION DELETE ------------------ */

.modal--confirmation-delete .modal__actions button {
    flex: 1 0 0;
}

.modal__actions button {
    flex: 1 0 0;
}




/* ------------------- INVITE TO TOURNAMENT ------------------ */


.modal--invite-to-tournament {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    transform: translate(-50%, -50%) scale(1);
}

.modal__player-queue {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--Lunar-Dust-900);
}

.modal__player-queue__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.modal__player-queue__header__title {
    color: var(--Lunar-Dust-500);
}

.modal__player-queue__header__status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.modal__player-queue__header__status__ready {
    color: var(--Comet-Cloud-400);
}

.modal__player-queue__header__status__icon {
    color: var(--Cosmic-Forest-500);
}

.modal__player-queue__list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.modal__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.modal__table__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.modal__table__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.modal--invite-to-tournament .modal__table .table-header {
    width: 100%;
}

.modal__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.modal__header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.modal__header__title__text {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    color: var(--Lunar-Dust-50);
}

.modal__header__title__close {
    color: var(--Lunar-Dust-500);
}

.Button_Sizes{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.button__button--tertiary-Sizes{
    
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
    color: var(--Solar-Flare-50);
    background-color: var(--Solar-Flare-600);
    align-self: stretch;
        
}
 

/*  --------------- ADD Frinds --------- */

.modal__header-add_friend{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* padding: 32px; */
    gap: 24px;
}


.modal__table-add_friend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
 
}

 

.modal--add-friend .modal__table .table-header {
    width: 100%;
}

.modal--add-friend {

    transform: translate(-50%, -50%) scale(1);
}

.modal__table__header-add_friend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

 .modal--remove-friend{
    display: flex;
    border-radius: 32px;
    width: 626px;
    height: 292px;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }

 .modal--unsaved-changes {
    display: flex;
    border-radius: 32px;
    width: 626px;
    height: 292px;
    padding: 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }



 /* ----------------------------- */

 .hidden {
    display: none;
}

.modal {
    display: none; /* Certifique-se de que o modal está oculto por padrão */
}

#modalOverlay {
    display: none; /* Certifique-se de que o overlay está oculto por padrão */
}

.table-row__actions-friendly{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}


 /* --------------SHARE YOUR RANKING--------------- */


 .modal--share-ranking-one {
    display: flex;
    width: 948px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #2C2F3E;
    background: linear-gradient(64deg, #000 0%, #000 38.5%, #E68B02 100%);

}

.share-ranking__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}


.logo-ottter-sharing{
    display: flex;
    align-items: center;
    gap: 10.5px;
}

.icon-sharing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.share-ranking__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.share-ranking__content__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.share-ranking__content__illustration{
    width: 520px;
    height: 520px;
    display: flex;
    padding: 9px 40.021px 6.488px 0px;
}

.share-ranking__content__info__player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}

.share-ranking__content__info__action{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.share-ranking__content__info__player__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.share-ranking__content__info__player__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.share-ranking__content__info__player__text__place{
    align-self: stretch;
    background: linear-gradient(90deg, #E2A60C 0%, #D4470B 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-weight: 700;
}

.share-ranking__content__info__player__text__description{
    /* align-self: stretch; */
    color: #737993;
    font-weight: 700;
}

.share-ranking__content__info__player__container__image{
    display: flex;
    width: 56px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12.444px;
}

.info-share-ranking{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.name_player_share-info{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: #D3D9F4;
    text-overflow: ellipsis;
    font-family: Play;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
}

.nick_player_share-info{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: #737993;
    text-overflow: ellipsis;
    font-family: Play;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
}

.modal--share-ranking-two {
    display: flex;
    width: 948px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #2C2F3E;
    background: linear-gradient(64deg, #000 0%, #000 38.5%, rgba(73, 73, 85, 0.65) 100%);
}

.share-ranking__content__info__player__text__place-two{
    align-self: stretch;
    background: linear-gradient(90deg, #A7A7BF 0%, #606084 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-weight: 700;
}

.modal--share-ranking-three{
    display: flex;
    width: 948px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #2C2F3E;
    background: linear-gradient(64deg, #000 0%, #000 38.5%, #4377EE 100%);
}