.neptune-blue-theme {
  --neptuneblue1000: #1f1f1f; /* Cor mais escura */
  --neptuneblue950:  #1f1f1f;
  --neptuneblue900:  #0b3d91;
  --neptuneblue800:  #144ea3;
  --neptuneblue700:  #1d60b5;
  --neptuneblue600:  #2672c7;
  --neptuneblue500:  #3084d9;
  --neptuneblue400:  #4698e1;
  --neptuneblue300:  #5bace9;
  --neptuneblue200:  #71c1f1;
  --neptuneblue100:  #87d5f9;
  --neptuneblue50:   #e7e7e7;
  --neptuneblue0:    #e7e7e7; /* Cor mais clara */
}