:root {
    --font-primary: 'Red Hat Display', sans-serif;
	--font-secondary: 'Play', sans-serif;
    --font-size-default: 16px;
    --line-height-default: 1.0;

    --h1-font-size: 48px;
    --h1-line-height: 120%;
    --h2-font-size: 40px;
    --h2-line-height: 120%;
    --h3-font-size: 34px;
    --h3-line-height: 140%;
    --h4-font-size: 28px;
    --h4-line-height: 150%;
    --h5-font-size: 24px;
    --h5-line-height: 160%;
    --h6-font-size: 20px;
    --h6-line-height: 160%;

	--extra-large-font-size: 28px;
    --extra-large-line-height: 100%;
    --large-font-size: 20px;
    --large-line-height: 100%;
    --medium-bold-font-size: 16px;
    --medium-bold-line-height: 140%;
    --medium-font-size: 16px;
    --medium-line-height: 140%;
    --regular-bold-font-size: 14px;
    --regular-bold-line-height: 140%;
    --regular-font-size: 14px;
    --regular-line-height: 140%;
    --caption-regular-font-size: 12px;
    --caption-regular-line-height: 130%;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
}

h1 {
    font-family: var(--font-primary);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

h3 {
    font-family: var(--font-primary);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
}

h4 {
    font-family: var(--font-primary);
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
}

h5 {
    font-family: var(--font-primary);
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
}

h6 {
    font-family: var(--font-primary);
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height);
}

.font-body-extra-large {
    font-family: var(--font-primary);
    font-size: var(--extra-large-font-size);
    line-height: var(--extra-large-line-height);
}

.font-body-large {
    font-family: var(--font-primary);
    font-size: var(--large-font-size);
    line-height: var(--large-line-height);
}

.font-body-medium-bold {
    font-family: var(--font-primary);
    font-size: var(--medium-bold-font-size);
    line-height: var(--medium-bold-line-height);
    font-weight: bold;
}

.font-body-medium {
    font-family: var(--font-primary);
    font-size: var(--medium-font-size);
    line-height: var(--medium-line-height);
}

.font-body-regular-bold {
    font-family: var(--font-primary);
    font-size: var(--regular-bold-font-size);
    line-height: var(--regular-bold-line-height);
    font-weight: bold;
}

.font-body-regular {
    font-family: var(--font-primary);
    font-size: var(--regular-font-size);
    line-height: var(--regular-line-height);
}

.font-body-caption-regular {
    font-family: var(--font-primary);
    font-size: var(--caption-regular-font-size);
    line-height: var(--caption-regular-line-height);
}