<div class="modal" tabindex="-1" id="loginModal"   aria-labelledby="loginModalLabel"   aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <main class="modal-content">
      <div class="row h-100">
        <div class="col-4 py-4 px-5 d-flex flex-column justify-content-between">
          <div class="h5">
            <a class="nav-link" href="#">
              <i class="bi bi-code-slash"></i>
              <span class="ms-2">42 transcendence</span>
            </a>
          </div>

          <div class="">
            <h1 class="fw-bolder text-uppercase display-5">
              Welcome, traveler!
            </h1>
            <p>Log-in with your 42 account to access the game</p>
            <button class="btn btn-dark w-100 mt-4">Login 42</button>
          </div>

          <div class="">
            <p>A project made by: Marvin</p>
          </div>
        </div>

        <div class="col-8 p-4">
          <img
            class="w-100 h-100 object-fit-cover rounded-3"
            src="app/src/asset/login-bg.jpg"
            alt=""
          />
        </div>
      </div>
    </main>
  </div>
</div>