<div class="dropdown">
    <a
      class="btn d-flex border border-dark"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        class="rounded-circle me-2 object-fit-cover"
        style="width: 50px; height: 50px"
        src=""
        alt=""
      />
      <div class="text-start">
        <div class="fw-bold text-uppercase">Caos Lourenc</div>
        <div class="text-muted text-lowercase">caoslorenc@42.org.com</div>
      </div>
    </a>
  
    <ul class="dropdown-menu border-dark w-100 p-2 pb-0 mb-2">
      <li>
        <button
          type="button"
          class="btn w-100 text-start btn-sm btn-outline-dark mb-2"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
        >
          Edit profile
        </button>
      </li>
  
      <li>
        <button
          type="button"
          class="btn w-100 text-start btn-sm btn-outline-dark mb-2"
        >
          Sair
        </button>
      </li>
    </ul>
  </div>