/* .lunar-dust-theme  */
:root {
  --lunardust1000: rgba(14, 14, 16, 1);  /* Cor mais escura */
  --lunardust950:  rgba(24, 24, 27, 1);
  --lunardust900:  rgba(57, 57, 65, 1);
  --lunardust800:  rgba(65, 65, 75, 1);
  --lunardust700:  rgba(76, 77, 88, 1);
  --lunardust600:  rgba(93, 94, 108, 1);
  --lunardust500:  rgba(115, 117, 132, 1);
  --lunardust400:  rgba(145, 147, 159, 1);
  --lunardust300:  rgba(184, 185, 193, 1);
  --lunardust200:  rgba(217, 217, 222, 1);
  --lunardust100:  rgba(238, 238, 240, 1);
  --lunardust50:   rgba(247, 247, 248, 1);
  --lunardust0:    rgba(255, 255, 255, 1);   /* Cor mais clara */
}

.my-element {
  background: linear-gradient(103deg, var(--lunardust1000) 9.14%, var(--lunardust900) 37.74%, var(--lunardust200) 90.86%);
}

.gradient {
  background: linear-gradient(103deg, #000 9.14%, #000 37.74%, rgba(73, 73, 85, 0.65) 90.86%);
  secound.background: linear-gradient(94deg, #0E0E10 70.02%, #494955 104.02%);
}


