.solar-flare-theme {
  --solarflame950:  rgba(65, 19, 9, 1); /* Cor mais escura */
  --solarflame900:  rgba(120, 43, 22, 1);
  --solarflame800:  rgba(149, 49, 23, 1);
  --solarflame700:  rgba(188, 61, 18, 1);
  --solarflame600:  rgba(226, 81, 20, 1);
  --solarflame500:  rgba(241, 108, 31, 1);
  --solarflame400:  rgba(244, 139, 67, 1);
  --solarflame300:  rgba(248, 181, 121, 1);
  --solarflame200:  rgba(251, 212, 173, 1);
  --solarflame100:  rgba(254, 235, 214, 1);
  --solarflame50:   rgba(254, 246, 238, 1); /* Cor mais clara */
}
