html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

.playground-container {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.playground-container--button
{
    flex-direction: row;
}

.playground-container--tag
{
    flex-direction: column;
}

.playground-container--game-row-option
{
    flex-direction: row;
}

.playground-container--table
{
    flex-direction: column;
}

.playground-container--menu-item
{
    flex-direction: column;
}

.playground-container--menu-control
{
    flex-direction: row;
}

.playground-container--profile-info {
    flex-direction: column;
}

.playground-container--search-bar {
    flex-direction: column;
}

.playground-container--pagination {
    flex-direction: row;
}

.playground-container--metric-card {
    flex-direction: column;
}

.playground-container--metric-line {
    flex-direction: row;
}

.playground-container--sidebar {
    flex-direction: row;
}

/*  */

.seila {
display: flex;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch;
}

.container__metric-line {
    display: flex;
    width: 429px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

